.popup__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.21;
    margin: 0 0 48px;
    padding: 0;
}

@media screen and (max-width: 564px) {
    .popup__title {
        font-size: 18px;
        width: 100%;
        margin-bottom: 45px;
    }
}