.button_type_close {
    background-image: url(../../../images/ico_close_size_l.svg);
    position: absolute;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    border: none;
}

@media screen and (max-width: 564px) {
    .button_type_close {
        background-image: url(../../../images/ico_close_size_s.svg);
        width: 20px;
        height: 20px;
        top: -37px;
        right: 0;
    }

}