.button_type_image {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 282px;
    height: 282px;
    /* object-fit: cover; */
}

.button_type_image:hover {
    opacity: 1;
}